.topbar-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  color: #fff;
  background: #000;

  padding: 10px 35px;

  font-size: 11px;

  @media screen and (min-width: 990px) {
    justify-content: space-between;
  }
}

.topbar-navigate-wrapper {
  display: flex;

  height: 100%;
}

.information-text {
  display: inline-block;

  font-size: 15px;
  font-weight: 500;

  &:not(:first-child) {
    position: relative;

    margin-left: 10px;
    padding-left: 20px;
  }

  a {
    &:hover {
      color: #dedede;
    }
  }
}

.topbar-menu-wrapper {
  display: flex;
  justify-content: flex-end;

  list-style: none;
}

.material-icons {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.topbar-menu-item-wrapper {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 15px;
  font-weight: 600;

  &:first-child {
    padding-right: 15px;
    margin-right: 15px;

    &:before {
      position: absolute;
      right: 0;
      top: calc(50% - 9px);
      content: "";
      background: #d4d4d4;
      width: 1px;
      height: 18px;
    }
  }

  a {
    padding-left: 8px;

    &:hover {
      color: #dedede;
    }
  }

  .divide {
    padding: 0 8px;
  }
}

.header-layout-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 20px 35px 0;
}

.header-logo-wrapper {
  display: flex;
  /*flex: 0 1 24rem;*/

  margin: 0;
  line-height: 0;

  @media screen and (min-width: 990px) {
    justify-self: start;
    margin: 0;
  }

  @media only screen and (min-width: 750px) {
    font-size: 28px;
    font-weight: 600;
  }
}

.header-logo-container {
  display: flex;
  justify-content: flex-start;
  flex: 1;
  gap: 10px;
  height: 42px;
  text-decoration: none;
  word-break: break-word;

  @media screen and (min-width: 990px) {
    height: 52px;
    margin: 0;
  }
}

.logo-image {
  height: 42px;

  @media screen and (min-width: 990px) {
    height: 52px;
  }
}

.site-name-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar-wrapper {
  display: flex;
  flex-grow: 1;
  padding: 0 1.5rem;
}

.search-bar-form-wrapper {
  position: relative;
}

.search-input {
  display: flex;
  width: 50rem;
  height: 2.5rem;
  background-color: hsl(0 0% 100%);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(73, 77, 85);
  border-radius: calc(0.5rem - 2px);
  padding: 0.5rem 0.75rem;
  padding-right: 65px;
  font-size: 0.875rem;
  line-height: 1.25rem;

  &:focus,
  &:focus-visible {
    background-color: hsl(0 0% 100%);
    /*border-color: hsla(240 5% 64.9%);*/

    outline-offset: -1px;
    outline: none;
    /*box-shadow: 0 0 0 2px hsla(240 5% 64.9%), inset 0 0 0 2px hsla(240 5% 64.9%);*/
  }
}

.search-button {
  position: absolute;
  top: 50%;
  right: 0.25rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  height: 1.75rem;
  border-radius: 4px;
  padding: 5px 7.5px;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
  transition-property:
    color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  transform: translate(0, -50%);

  svg {
    height: 1rem;
    width: 1rem;
  }

  span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }

  &[disabled] {
    opacity: 0.5;
    //pointer-events: none;
    cursor: not-allowed;
  }

  &:not([disabled]):hover {
    color: initial;
    background-color: hsl(240 4.8% 95.9%);
  }
}

.user-dropdown {
  &:hover {
    .dropdown-submenu {
      display: flex;

      animation: userAnimateMenuOpen 0ms ease;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes userAnimateMenuOpen {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100% {
    opacity: 1;
    transform: translateY(45px);
  }
}

.user-dropdown-item {
  cursor: pointer;
}

.user-dropdown .dropdown-submenu {
  position: absolute;

  display: none;
  flex-direction: column;
  flex-wrap: wrap;

  background: #fff fixed;

  width: 200px;
  max-height: 366px;

  border: 1px solid rgba(18, 18, 18, 0.1);

  padding: 14px 0;

  font-size: 13px;
  line-height: 1.5;

  opacity: 0;

  transform: translateY(-15px);

  transition:
    opacity 200ms ease,
    transform 0ms ease;

  z-index: 10;

  h3 {
    border-bottom: solid 1px #ddd;
    margin: 0 0 10px;
    padding: 10px 30px 5px 24px;
    font-size: 20px;
    font-weight: bold;
  }

  a {
    color: rgb(1, 13, 11);
  }
}
