.body-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
}

.body-container {
  clear: both;
  align-items: center;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 400;
}
@media screen and (min-width: 1921px) {
  .body-container {
    max-width: 1760px;
  }
}

.usps-section-wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  background-color: #ffffff;
  padding: 20px;
  z-index: 0;
}

.usps-item-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  flex: 1 1 100px;
  background-color: #f7f7f7;
  border-radius: 4px;
  padding: 24px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.usps-item-wrapper:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1019607843);
}

.usps-icon-wrapper {
  display: flex;
  width: 32px;
  height: 32px;
}

.usps-icon {
  width: 100%;
  height: 100%;
}

.usps-heading {
  font-size: 16px;
  font-weight: 600;
}

.usps-text {
  color: #666;
  font-size: 14px;
}

.products-list-wrapper {
  margin-bottom: 60px;
}

.products-list-header-view-more-wrapper {
  display: flex;
}

.products-list-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 20px;
  padding-bottom: 20px;
}

.products-list-header-text {
  margin: 0;
  font-size: 38px;
  font-weight: 700;
}

.products-list-header-view-more {
  color: #000;
  font-size: 16px;
  text-decoration: none;
}
.products-list-header-view-more:hover {
  text-decoration: underline;
}

.view-more-icon {
  width: 24px;
  height: 24px;
}

.products-list-content-wrapper {
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  margin-left: -10px;
  margin-right: -10px;
}

.card-wrapper {
  position: relative;
  color: inherit;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  text-decoration: none;
}
@media screen and (min-width: 990px) {
  .card-wrapper:hover a {
    text-decoration: underline;
    text-underline-offset: 0.2rem;
  }
}
@media screen and (min-width: 990px) {
  .card-wrapper:hover img {
    transform: scale(1.2);
  }
}

.card-container {
  position: relative;
  display: inline-block;
  color: #000;
  background-color: #fff;
  max-width: 100%;
  width: 100%;
  border-radius: 15px;
  padding: 15px 30px;
  text-align: left;
  text-decoration: none;
  --ratio-percent: 100%;
  box-shadow: 0 39.36px 24px rgba(0, 0, 0, 0.01), 0 17.28px 17.28px rgba(0, 0, 0, 0.04), 0 4.8px 9.6px rgba(0, 0, 0, 0.04), 0 0 0 rgba(0, 0, 0, 0.04);
  transition: 0.3s ease-out;
}
.card-container:not(.ratio) {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.card-container:hover {
  box-shadow: 0 99px 40px rgba(0, 0, 0, 0.01), 0 56px 33px rgba(0, 0, 0, 0.04), 0 25px 25px rgba(0, 0, 0, 0.07), 0 6px 14px rgba(0, 0, 0, 0.08), 0 0 0 rgba(0, 0, 0, 0.08);
}

.card-image-wrapper {
  position: relative;
  width: 100%;
  --ratio-percent: 100%;
}
.card-image-wrapper:before {
  display: inline-block;
  content: "";
  width: 0px;
  height: 0px;
  padding-bottom: 100%;
}
.card-image-wrapper:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
}

.card-image-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.card-image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  display: block;
  background-color: transparent;
  width: 100%;
  overflow: hidden;
}

.card-image {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
  transition: opacity 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: transform;
}
@media screen and (min-width: 990px) {
  .card-image {
    transition: transform 0.5s ease;
  }
}

.card-content-wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.card-content-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-bottom: 0;
  padding: 13px 0 0;
}
@media screen and (min-width: 750px) {
  .card-content-container {
    padding-top: 17px;
  }
}

.product-brand {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
}

.product-name {
  margin: 0.5rem 0;
  font-size: 1rem;
  font-weight: 600;
}
.product-name a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: inherit;
  line-height: 22px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  word-break: break-word;
}
.product-name a:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  outline-offset: 0.3rem;
  z-index: 1;
}

.product-price-container {
  line-height: 1.2;
}
@media screen and (min-width: 750px) {
  .product-price-container {
    margin-bottom: 0;
  }
}

.product-price-overlay {
  display: flex;
  align-items: center;
}
.product-price-overlay div {
  display: block;
}

.ending-section-wrapper {
  position: relative;
  max-width: 1740px;
  margin: auto;
  padding: 0 20px;
  z-index: 0;
}

.ending-section-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  width: 100%;
}

.ending-section-item-wrapper {
  display: flex;
}
.ending-section-item-wrapper:hover .ending-section-image-container img {
  transform: scale(1.05);
}
.ending-section-item-wrapper:hover .ending-section-title-icon svg path {
  transform: translate(-0.5px);
}

.ending-section-item-container {
  position: relative;
  display: flex;
  flex-direction: column;
  color: inherit;
  height: 100%;
  text-decoration: none;
}
@media screen and (min-width: 750px) {
  .ending-section-item-container {
    flex-grow: 1;
  }
}

.ending-section-image-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  --ratio-percent: 100%;
}
.ending-section-image-wrapper:before {
  content: "";
  width: 0;
  height: 0;
  padding-bottom: var(--ratio-percent);
}
.ending-section-image-wrapper:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: var(--card-corner-radius);
}

.ending-section-image-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}
.ending-section-image-container div {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.ending-section-image-container img {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
@media screen and (min-width: 990px) {
  .ending-section-image-container img {
    transition: transform 500ms ease;
  }
}

.ending-section-image-seo-wrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
  width: 100%;
  padding: 10px;
}

.ending-section-image-seo-container {
  display: none;
  padding-bottom: 20px;
}

.ending-section-title-wrapper {
  display: flex;
  flex-grow: 1;
  width: 100%;
  padding: 0;
}

.ending-section-title-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 0 20px;
}

.ending-section-title-overlay {
  margin: 0;
  font-size: 20px;
}

.ending-section-title-text-wrapper {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  color: currentColor;
  padding: 15px 20px 15px 0;
}
.ending-section-title-text-wrapper:after {
  position: absolute;
  inset: 0;
  content: "";
  outline-offset: 3px;
  z-index: 1;
}

.ending-section-title-text {
  white-space: normal;
}

.ending-section-title-icon {
  display: flex;
  margin-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  transition: transform 100ms ease;
}
.ending-section-title-icon svg {
  width: 15px;
}
.ending-section-title-icon svg path {
  transform: translate(-2.5px);
  transition: transform 100ms ease;
}
