<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HeadphoneStore.StoreFrontEnd</title>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    
    @* Swiper setup *@
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined" rel="stylesheet">

    <link rel="stylesheet" href="~/css/base/base.css" asp-append-version="true" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />

    <script src="https://unpkg.com/lucide@latest"></script>

    @* Layout css *@
    @* <link rel="stylesheet" href="~/css/application/root-layout.css" asp-append-version="true" /> *@

    @* Header css *@
    <link rel="stylesheet" href="~/css/components/layout/header.css" asp-append-version="true" />

    @* Search css *@
    @* <link rel="stylesheet" href="~/css/components/search.css" asp-append-version="true" /> *@

    @* Footer css *@
    <link rel="stylesheet" href="~/css/components/layout/footer.css" asp-append-version="true" />
    
    @RenderSection("Styles", required: false)
</head>
<body>
    <div class="page-wrapper">
        @* Header section *@
        @await Html.PartialAsync("Components/Header")

        @* Search section *@
        @* @await Html.PartialAsync("Components/Search") *@

        @RenderBody()

        @* Footer section *@
        @await Html.PartialAsync("Components/Footer")
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @* Swiper setup *@
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js" defer></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>