@{
    var isLoggedIn = User.Identity?.IsAuthenticated ?? false;
    var username = User.FindFirst("unique_name")?.Value ?? "Guest";
}

<header>
    <div class="topbar-wrapper">
        <div class="topbar-navigate-wrapper">
            <div class="information-text">
                <a href="/">Tin tức</a>
            </div>

            <div class="information-text">
                <a href="/lien-he">Liên hệ</a>
            </div>

            <div class="information-text">
                <a href="/huong-dan-mua-hang">Hướng dẫn mua hàng</a>
            </div>

            <div class="information-text">
                <a href="/thoi-gian-mo-cua">Giờ mở cửa: 8h - 21h</a>
            </div>
        </div>

        <div>
            <ul class="topbar-menu-wrapper">
                <li class="topbar-menu-item-wrapper">
                    <i class="material-icons-outlined">shopping_cart</i>

                    <a href="/gio-hang">Giỏ Hàng (0)</a>
                </li>

                @if (isLoggedIn)
                {
                    <li class="topbar-menu-item-wrapper user-dropdown">
                        <div class="user-dropdown-item">@username</div>
                    
                        <div class="dropdown-submenu">
                            <form asp-page="/Logout" method="post">
                                @Html.AntiForgeryToken()
                                
                                <button type="submit" class="box-item">
                                    Logout
                                </button>
                            </form>
                        </div>
                    </li>
                }
                else
                {
                    <li class="topbar-menu-item-wrapper">
                        <i class="material-icons-outlined">lock</i>

                        <a asp-page="/Login">Đăng Nhập</a>

                        <div class="divide">|</div>

                        <a asp-page="/SignUp" style="padding-left: 0px">Đăng Ký</a>
                    </li>
                }
            </ul>
        </div>
    </div>

    <div style="border-bottom: 1px solid #d7d6d5;">
        <div class="header-layout-wrapper">
            <div class="header-logo-wrapper">
                <a href="/" class="header-logo-container">
                    <img class="logo-image" src="~/images/headphone-store-logo.png"/>

                    <div class="site-name-text">Headphone Store</div>
                </a>
            </div>

            <div class="search-bar-wrapper">
                <form class="search-bar-form-wrapper">
                    <input class="search-input" placeholder="Bạn muốn tìm sản phẩm gì ?"/>

                    <button class="search-button">
                        <i class="material-icons-outlined">search</i>
                    </button>
                </form>
            </div>
        </div>

        @await Component.InvokeAsync("CategoryMenu")
    </div>
</header>
