// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

@font-face {
    font-family: 'Inter';
    src: url('/fonts/AT-NameSansVariable-Upright.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
