<div class="footer-wrapper">
    <div class="footer-container">
        <ul>
            <li>
                <div class="footer-title">Headphone Store</div>
                <a href="/">Giới thiệu hệ thống cửa hàng</a>
                <a href="/">Tuyển dụng</a>
                <a href="/">Tài khoản ngân hàng</a>
            </li>

            <li>
                <div class="footer-title">Chính sách & Quy định</div>
                <a href="/">Chính sách bảo hành</a>
                <a href="/">Chính sách đổi trả hàng</a>
                <a href="/">Quy chế hoạt động</a>
                <a href="/">Chính sách bảo mật</a>
            </li>

            <li>
                <div class="footer-title">Hướng dẫn sử dụng</div>
                <a href="/">Hướng dẫn mua hàng</a>
                <a href="/">Hướng dẫn thanh toán</a>
                <a href="/">Hướng dẫn mua hàng trả góp</a>
                <a href="/">Khách hàng thân thiết</a>
            </li>

            <li>
                <div class="footer-title">Tổng đài hỗ trợ</div>
                <a href="/">Hotline: 0123456 9999</a>
                <a href="/">Email: sales@headphone.com.vn</a>
                <a href="/">Giờ mở cửa: 8h - 21h</a>
            </li>

            <li>
                <div class="footer-title">Thương hiệu hàng đầu</div>
                <a href="/">Hifiman</a>
                <a href="/">Audio-technica</a>
                <a href="/">Sennheiser</a>
                <a href="/">Sony</a>
                <a href="/">Moondrop</a>
            </li>
        </ul>
    </div>
</div>