<div class="footer-layout-wrapper">
    <div class="footer-layout-container">
        <div class="footer-layout-overlay">
            <!-- SUPPORT Section -->
            <div class="footer-item-wrapper">
                <h2 class="footer-item-header">SUPPORT</h2>
                <ul>
                    <li><a href="/" class="footer-item">365-day returns</a></li>
                    <li><a href="/track-order" class="footer-item">Track your order</a></li>
                    <li><a href="/shipping-policy" class="footer-item">Shipping policy</a></li>
                    <li><a href="/refund-policy" class="footer-item">Refund policy</a></li>
                    <li><a href="/faq" class="footer-item">FAQ</a></li>
                    <li><a href="/contact" class="footer-item">Contact us</a></li>
                    <li><a href="/corporate-purchases" class="footer-item">Inquire About Corporate Purchases</a></li>
                    <li><a href="/affiliate-signup" class="footer-item">Affiliate Sign-Up</a></li>
                    <li><a href="/affiliate-login" class="footer-item">Affiliate Log-In</a></li>
                </ul>
            </div>

            <!-- OUR COMPANY Section -->
            <div class="footer-item-wrapper">
                <h2 class="footer-item-header">OUR COMPANY</h2>
                <ul>
                    <li><a href="/about" class="footer-item">About Us</a></li>
                    <li><a href="/community" class="footer-item">The Headphone Community</a></li>
                    <li><a href="/help-a-child-hear" class="footer-item">Buy Headphones, Help A Child Hear</a></li>
                    <li><a href="/terms" class="footer-item">Terms Of Service</a></li>
                    <li><a href="/privacy" class="footer-item">Privacy Policy</a></li>
                    <li><a href="/accessibility" class="footer-item">Accessibility Statement</a></li>
                    <li><a href="/office-headsets" class="footer-item">Buy Office Headsets</a></li>
                </ul>
            </div>

            <!-- TOP BRANDS Section -->
            <div class="footer-item-wrapper">
                <h2 class="footer-item-header">TOP BRANDS</h2>
                <ul>
                    <li><a href="/brands/focal" class="footer-item">Audio-Technica</a></li>
                    <li><a href="/brands/sennheiser" class="footer-item">Sennheiser</a></li>
                    <li><a href="/brands/audeze" class="footer-item">Audeze</a></li>
                    <li><a href="/brands/64-audio" class="footer-item">64 Audio</a></li>
                    <li><a href="/brands/hifiman" class="footer-item">Hifiman</a></li>
                    <li><a href="/brands/meze-audio" class="footer-item">Meze Audio</a></li>
                    <li><a href="/brands/meze-audio" class="footer-item">Moondrop</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-bottom-wrapper">
        <div class="footer-bottom-container">
            <div class="footer-bottom-overlay">
                <div class="footer-bottom-text-wrapper">
                    <small>
                        © 2025,
                        <a href="/" class="footer-bottom-text">audio.com</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
</div>
