<header>
    <div class="topbar-wrapper">
        <div class="topbar-navigate-wrapper">
            <div class="information-text">
                <a href="/">Tin tức</a>
            </div>

            <div class="information-text">
                <a href="/lien-he">Liên hệ</a>
            </div>

            <div class="information-text">
                <a href="/huong-dan-mua-hang">Hướng dẫn mua hàng</a>
            </div>

            <div class="information-text">
                <a href="/thoi-gian-mo-cua">Giờ mở cửa: 8h - 21h</a>
            </div>
        </div>

        <div class="">
            <ul class="topbar-menu-wrapper">
                <li class="topbar-menu-item-wrapper">
                    <i class="material-icons-outlined">shopping_cart</i>

                    <a href="/gio-hang">Giỏ Hàng (0)</a>
                </li>

                <li class="topbar-menu-item-wrapper">
                    <i class="material-icons-outlined">lock</i>

                    <a href="/dang-nhap">Đăng Nhập</a>

                    <div class="divide">|</div>

                    <a href="/dang-ky" style="padding-left: 0px">Đăng Ký</a>
                </li>
            </ul>
        </div>
    </div>

    <div>
        <div class="header-layout-wrapper">
            <div class="header-logo-wrapper">
                <a href="/" class="header-logo-container">
                    <img class="logo-image" src="~/images/headphone-store-logo.png"/>

                    <div class="site-name-text">Headphone Store</div>
                </a>
            </div>

            <div class="search-bar-wrapper">
                <form class="search-bar-form-wrapper">
                    <input class="search-input" placeholder="Bạn muốn tìm sản phẩm gì ?"/>

                    <button class="search-button">
                        <i class="material-icons-outlined">search</i>
                    </button>
                </form>
            </div>
        </div>

        <div class="category-header-wrapper">
            <div class="category-header-container">
                <ul class="category-list-wrapper">
                    <li class="category-menu-btn category-dropdown-menu">
                        <summary class="category-menu-item">
                            <span class="category-item-title">Headphones</span>

                            <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 24 24"
                                 class="icon-caret">
                                <path fill="currentColor"
                                      d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z"></path>
                            </svg>
                        </summary>

                        <div class="dropdown-submenu">
                            <a href="/tai-nghe-in-ear" class="box-item">
                                Tai Nghe In Ear
                            </a>

                            <a href="/tai-nghe-over-ear" class="box-item">
                                Tai Nghe Over Ear
                            </a>

                            <a href="/tai-nghe-over-ear" class="box-item">
                                Tai Nghe Chống Ồn
                            </a>

                            <a href="/tai-nghe-over-ear" class="box-item">
                                Tai Nghe Bluetooth
                            </a>

                            <a href="/tai-nghe-over-ear" class="box-item">
                                Tai Nghe True Wireless
                            </a>

                            <a href="/tai-nghe-in-ear" class="box-item">
                                Tai Nghe In Ear
                            </a>

                            <a href="/tai-nghe-over-ear" class="box-item">
                                Tai Nghe Over Ear
                            </a>

                            <a href="/tai-nghe-over-ear" class="box-item">
                                Tai Nghe Chống Ồn
                            </a>

                            <a href="/tai-nghe-over-ear" class="box-item">
                                Tai Nghe Bluetooth
                            </a>

                            <a href="/tai-nghe-over-ear" class="box-item">
                                Tai Nghe True Wireless
                            </a>
                        </div>
                    </li>
                    
                    <li class="category-menu-btn category-dropdown-menu">
                        <summary class="category-menu-item">
                            <span class="category-item-title">DAC - AMP</span>

                            <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 24 24"
                                 class="icon-caret">
                                <path fill="currentColor"
                                      d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z"></path>
                            </svg>
                        </summary>

                        <div class="dropdown-submenu">
                            <a href="/dac" class="box-item">DAC</a>
                            <a href="/dac-amp-di-dong" class="box-item">DAC/AMP Di Động</a>
                            <a href="/am-ly-di-dong" class="box-item">Âm Ly Di Động</a>
                            <a href="/am-ly-de-ban" class="box-item">Âm Ly Để Bàn</a>
                            <a href="/bluetooth-dac-amp" class="box-item">Bluetooth DAC/AMP</a>
                            <a href="/dau-phat-cd" class="box-item">Đầu phát CD</a>
                        </div>
                    </li>
                    
                    <li class="category-menu-btn category-dropdown-menu">
                        <summary class="category-menu-item">
                            <span class="category-item-title">Brands</span>

                            <svg aria-hidden="true" focusable="false" role="presentation" viewBox="0 0 24 24"
                                 class="icon-caret">
                                <path fill="currentColor"
                                      d="M17,9.17a1,1,0,0,0-1.41,0L12,12.71,8.46,9.17a1,1,0,0,0-1.41,0,1,1,0,0,0,0,1.42l4.24,4.24a1,1,0,0,0,1.42,0L17,10.59A1,1,0,0,0,17,9.17Z"></path>
                            </svg>
                        </summary>

                        <div class="dropdown-submenu">
                            <a href="/sony" class="box-item">Sony</a>
                            <a href="/64-audio" class="box-item">64 Audio</a>
                            <a href="/aaw" class="box-item">AAW</a>
                            <a href="/apple" class="box-item">Apple</a>
                            <a href="/fiil" class="box-item">Fiil</a>
                            <a href="/jbl" class="box-item">JBL</a>
                            <a href="/audio-technica" class="box-item">Audio-technica</a>
                            <a href="/auglamour" class="box-item">Auglamour</a>
                            <a href="/skullcandy" class="box-item">Skullcandy</a>
                            <a href="/soundpeats" class="box-item">SoundPeats</a>
                            <a href="/beats" class="box-item">Beats</a>
                            <a href="/beyerdynamic" class="box-item">Beyerdynamic</a>
                            <a href="/bose" class="box-item">Bose</a>
                            <a href="/campfire" class="box-item">Campfire</a>
                            <a href="/grado" class="box-item">Grado</a>
                            <a href="/hifiman" class="box-item">Hifiman</a>
                            <a href="/jabra" class="box-item">Jabra</a>
                            <a href="/sennheiser" class="box-item">Sennheiser</a>
                            <a href="/shozy" class="box-item">Shozy</a>
                            <a href="/shure" class="box-item">Shure</a>
                            <a href="/tribit" class="box-item">Tribit</a>
                            <a href="/ibasso" class="box-item">iBasso</a>
                            <a href="/fiio" class="box-item">Fiio</a>
                            <a href="/sabbat" class="box-item">Sabbat</a>
                            <a href="/moondrop" class="box-item">Moondrop</a>
                            <a href="/marshall" class="box-item">Marshall</a>
                            <a href="/westone" class="box-item">Westone</a>
                            <a href="/dunu" class="box-item">Dunu</a>
                            <a href="/yuin" class="box-item">Yuin</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
