<h1 class="seo-title">
    <a href="/">Headphone Store</a>
</h1>

<div class="topbar-layout-wrapper">
    <nav class="topbar-layout-wrapper">
        <div class="container">
            <div class="topbar-layout-container">
                <div class="topbar-left col-xl-6 col-lg-6 col-md-6 col-sm-6 hidden-sm hidden-xs">
                    <div class="information-text">
                        <a href="/">Tin tức</a>
                    </div>

                    <div class="information-text">
                        <a href="/lien-he">Liên hệ</a>
                    </div>

                    <div class="information-text">
                        <a href="/huong-dan-mua-hang">Hướng dẫn mua hàng</a>
                    </div>

                    <div class="information-text">
                        <a href="/thoi-gian-mo-cua">Giờ mở cửa: 8h - 21h</a>
                    </div>
                </div>

                <div class="topbar-right col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                    <ul class="topbar-menu-wrapper">
                        <li class="topbar-menu-item-wrapper">
                            <i class="material-icons-outlined">shopping_cart</i>

                            <a href="/gio-hang">Giỏ Hàng (0)</a>
                        </li>

                        <li class="topbar-menu-item-wrapper">
                            <i class="material-icons-outlined">lock</i>

                            <a href="/dang-nhap">Đăng Nhập</a>

                            <div class="divide">|</div>

                            <a href="/dang-ky" style="padding-left: 0px">Đăng Ký</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
