<div class="container">
    <div class="header-layout-wrapper">
        <div class="header-logo-wrapper">
            <a href="/" class="header-logo-container">
                <img class="logo-image" src="~/images/headphone-store-logo.png" />

                <div class="site-name-text">Headphone Store</div>
            </a>
        </div>

        <div class="search-bar-wrapper">
            <form class="search-bar-form-wrapper">
                <input class="search-input" placeholder="Bạn muốn tìm sản phẩm gì ?" />

                <button class="search-button">
                    <i class="material-icons-outlined">search</i>
                </button>
            </form>
        </div>
    </div>
</div>