@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

@section Styles {
    <link href="@Url.Content("~/css/application/home/layout.css")" rel="stylesheet" type="text/css" asp-append-version="true"/>

    <link href="@Url.Content("~/css/components/category-dropdown.css")" rel="stylesheet" type="text/css" asp-append-version="true" />

    <link href="@Url.Content("~/css/application/home/list-product-section.css")" rel="stylesheet" type="text/css" asp-append-version="true"/>
}

@await Html.PartialAsync("Components/CategoryDropdown", Model.CategoryDropdown)

<div class="container grid-layout">
    <div style="margin-right: -15px; margin-left: -15px;">
        <div class="grid-title-wrapper">
            <h2 class="grid-title">sản phẩm mới</h2>
        </div>

        <div class="swiper main-swiper">
            <ul class="swiper-wrapper">
                <li class="swiper-slide collection-item">
                    <div class="card-wrapper">
                        <div class="card-container">
                            <div class="card-image-wrapper">
                                <div class="card-image-container">
                                    <div class="card-image-overlay">
                                        <img class="card-image" src="https://headphones.com/cdn/shop/products/MoondropVariations11024x1024.jpg?v=1707787932&width=360"/>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card-content-wrapper">
                                <div class="card-content-container">
                                    <div class="product-brand">Moondrop</div>
    
                                    <h3 class="product-name">
                                        <a href="/">Moondrop Variations Tribrid In-Ear Headphones</a>
                                    </h3>
    
                                    <div class="product-price-wrapper">
                                        <div class="product-price-container">
                                            <div class="product-price-overlay">
                                                <span>$599</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
    
                <li class="swiper-slide collection-item">
                    <div class="card-wrapper">
                        <div class="card-container">
                            <div class="card-image-wrapper">
                                <div class="card-image-container">
                                    <div class="card-image-overlay">
                                        <img class="card-image" src="https://tainghe.com.vn/media/product/250_119_64_audio_tia_fourt___universal_gia_tot_2.jpg"/>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card-content-wrapper">
                                <div class="card-content-container">
                                    <div class="product-brand">Moondrop</div>
    
                                    <h3 class="product-name">
                                        <a href="/">Moondrop Variations Tribrid In-Ear Headphones</a>
                                    </h3>
    
                                    <div class="product-price-wrapper">
                                        <div class="product-price-container">
                                            <div class="product-price-overlay">
                                                <span>$599</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
    
                <li class="swiper-slide collection-item">
                    <div class="card-wrapper">
                        <div class="card-container">
                            <div class="card-image-wrapper">
                                <div class="card-image-container">
                                    <div class="card-image-overlay">
                                        <img class="card-image" src="https://tainghe.com.vn/media/product/6716_tai_nghe_earacoustic_spa_limited_edition.webp"/>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card-content-wrapper">
                                <div class="card-content-container">
                                    <div class="product-brand">Moondrop</div>
    
                                    <h3 class="product-name">
                                        <a href="/">Moondrop Variations Tribrid In-Ear Headphones</a>
                                    </h3>
    
                                    <div class="product-price-wrapper">
                                        <div class="product-price-container">
                                            <div class="product-price-overlay">
                                                <span>$599</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
    
                <li class="swiper-slide collection-item">
                    <div class="card-wrapper">
                        <div class="card-container">
                            <div class="card-image-wrapper">
                                <div class="card-image-container">
                                    <div class="card-image-overlay">
                                        <img class="card-image" src="https://headphones.com/cdn/shop/products/MoondropVariations11024x1024.jpg?v=1707787932&width=360"/>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card-content-wrapper">
                                <div class="card-content-container">
                                    <div class="product-brand">Moondrop</div>
    
                                    <h3 class="product-name">
                                        <a href="/">Moondrop Variations Tribrid In-Ear Headphones</a>
                                    </h3>
    
                                    <div class="product-price-wrapper">
                                        <div class="product-price-container">
                                            <div class="product-price-overlay">
                                                <span>$599</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
    
                <li class="swiper-slide collection-item">
                    <div class="card-wrapper">
                        <div class="card-container">
                            <div class="card-image-wrapper">
                                <div class="card-image-container">
                                    <div class="card-image-overlay">
                                        <img class="card-image" src="https://headphones.com/cdn/shop/products/MoondropVariations11024x1024.jpg?v=1707787932&width=360"/>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card-content-wrapper">
                                <div class="card-content-container">
                                    <div class="product-brand">Moondrop</div>
    
                                    <h3 class="product-name">
                                        <a href="/">Moondrop Variations Tribrid In-Ear Headphones</a>
                                    </h3>
    
                                    <div class="product-price-wrapper">
                                        <div class="product-price-container">
                                            <div class="product-price-overlay">
                                                <span>$599</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                
                <li class="swiper-slide collection-item">
                    <div class="card-wrapper">
                        <div class="card-container">
                            <div class="card-image-wrapper">
                                <div class="card-image-container">
                                    <div class="card-image-overlay">
                                        <img class="card-image" src="https://headphones.com/cdn/shop/products/MoondropVariations11024x1024.jpg?v=1707787932&width=360"/>
                                    </div>
                                </div>
                            </div>
    
                            <div class="card-content-wrapper">
                                <div class="card-content-container">
                                    <div class="product-brand">Moondrop</div>
    
                                    <h3 class="product-name">
                                        <a href="/">Moondrop Variations Tribrid In-Ear Headphones</a>
                                    </h3>
    
                                    <div class="product-price-wrapper">
                                        <div class="product-price-container">
                                            <div class="product-price-overlay">
                                                <span>$599</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>

            <div style="color: black" class="swiper-button-next"></div>
            <div style="color: black" class="swiper-button-prev"></div>
        </div>
    </div>
</div>

<div class="container grid-layout">
    <div style="margin-right: -15px; margin-left: -15px;">
        <div class="grid-title-wrapper">
            <h2 class="grid-title">tai nghe</h2>
        </div>

        <ul class="product-grid">
            <li class="collection-item">
                <div class="card-wrapper">
                    <div class="card-container">
                        <div class="card-image-wrapper">
                            <div class="card-image-container">
                                <div class="card-image-overlay">
                                    <img class="card-image" src="https://headphones.com/cdn/shop/products/MoondropVariations11024x1024.jpg?v=1707787932&width=360"/>
                                </div>
                            </div>
                        </div>

                        <div class="card-content-wrapper">
                            <div class="card-content-container">
                                <div class="product-brand">Moondrop</div>

                                <h3 class="product-name">
                                    <a href="/">Moondrop Variations Tribrid In-Ear Headphones</a>
                                </h3>

                                <div class="product-price-wrapper">
                                    <div class="product-price-container">
                                        <div class="product-price-overlay">
                                            <span>$599</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="collection-item">
                <div class="card-wrapper">
                    <div class="card-container">
                        <div class="card-image-wrapper">
                            <div class="card-image-container">
                                <div class="card-image-overlay">
                                    <img class="card-image" src="https://tainghe.com.vn/media/product/250_119_64_audio_tia_fourt___universal_gia_tot_2.jpg"/>
                                </div>
                            </div>
                        </div>

                        <div class="card-content-wrapper">
                            <div class="card-content-container">
                                <div class="product-brand">Moondrop</div>

                                <h3 class="product-name">
                                    <a href="/">Moondrop Variations Tribrid In-Ear Headphones</a>
                                </h3>

                                <div class="product-price-wrapper">
                                    <div class="product-price-container">
                                        <div class="product-price-overlay">
                                            <span>$599</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="collection-item">
                <div class="card-wrapper">
                    <div class="card-container">
                        <div class="card-image-wrapper">
                            <div class="card-image-container">
                                <div class="card-image-overlay">
                                    <img class="card-image" src="https://tainghe.com.vn/media/product/6716_tai_nghe_earacoustic_spa_limited_edition.webp"/>
                                </div>
                            </div>
                        </div>

                        <div class="card-content-wrapper">
                            <div class="card-content-container">
                                <div class="product-brand">Moondrop</div>

                                <h3 class="product-name">
                                    <a href="/">Moondrop Variations Tribrid In-Ear Headphones</a>
                                </h3>

                                <div class="product-price-wrapper">
                                    <div class="product-price-container">
                                        <div class="product-price-overlay">
                                            <span>$599</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="collection-item">
                <div class="card-wrapper">
                    <div class="card-container">
                        <div class="card-image-wrapper">
                            <div class="card-image-container">
                                <div class="card-image-overlay">
                                    <img class="card-image" src="https://headphones.com/cdn/shop/products/MoondropVariations11024x1024.jpg?v=1707787932&width=360"/>
                                </div>
                            </div>
                        </div>

                        <div class="card-content-wrapper">
                            <div class="card-content-container">
                                <div class="product-brand">Moondrop</div>

                                <h3 class="product-name">
                                    <a href="/">Moondrop Variations Tribrid In-Ear Headphones</a>
                                </h3>

                                <div class="product-price-wrapper">
                                    <div class="product-price-container">
                                        <div class="product-price-overlay">
                                            <span>$599</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>

            <li class="collection-item">
                <div class="card-wrapper">
                    <div class="card-container">
                        <div class="card-image-wrapper">
                            <div class="card-image-container">
                                <div class="card-image-overlay">
                                    <img class="card-image" src="https://headphones.com/cdn/shop/products/MoondropVariations11024x1024.jpg?v=1707787932&width=360"/>
                                </div>
                            </div>
                        </div>

                        <div class="card-content-wrapper">
                            <div class="card-content-container">
                                <div class="product-brand">Moondrop</div>

                                <h3 class="product-name">
                                    <a href="/">Moondrop Variations Tribrid In-Ear Headphones</a>
                                </h3>

                                <div class="product-price-wrapper">
                                    <div class="product-price-container">
                                        <div class="product-price-overlay">
                                            <span>$599</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>