<div class="home-slide-container">
    <div class="slide-layout-wrapper swiper">
        <div class="swiper-wrapper slide-layout-container">
            <div
                style="background-image: url('images/carousel/moondrop-golden-age.png');"
                class="swiper-slide slide-item-wrapper"
            >
                <div class="slide-item-container">
                    <div class="slide-overlay-item">
                        <div class="slide-item-brand-text">MOONDROP</div>
                        <div class="slide-item-sku-text">GOLDEN AGE</div>
                    </div>

                    <div class="slide-overlay-item">
                        <div class="slide-item-description-text">13mm Super-Linear Full-Frequency Planar Multi-Protocol
                            ANC TWS
                        </div>
                    </div>

                    <div class="slide-overlay-item">
                        <a href="/" class="slide-item-btn">Learn more</a>
                    </div>
                </div>
            </div>
            
            <div
                style="background-image: url('images/carousel/ananda-bt.png');"
                class="swiper-slide slide-item-wrapper"
            >
                <div class="slide-item-container">
                    <div class="slide-overlay-item">
                        <div class="slide-item-brand-text">HIFIMAN</div>
                        <div class="slide-item-sku-text">ANANDA-BT R2R</div>
                    </div>

                    <div class="slide-overlay-item">
                        <div class="slide-item-description-text">
                            Bluetooth Headphones with R2R DAC Technology
                        </div>
                    </div>

                    <div class="slide-overlay-item">
                        <a href="/" class="slide-item-btn">Learn more</a>
                    </div>
                </div>
            </div>

            <div
                style="background-image: url('images/carousel/robin-true-wireless-stereo.png');"
                class="swiper-slide slide-item-wrapper"
            >
                <div class="slide-item-container">
                    <div class="slide-overlay-item" style="flex-direction: column; align-items: flex-start">
                        <div class="slide-item-brand-text">MOONDROP x Honkai: Star Rail</div>
                        <div class="slide-item-sku-text">ROBIN True Wireless Stereo</div>
                    </div>

                    <div class="slide-overlay-item">
                        <div class="slide-item-description-text">
                            [Nice to meet you, I'm Robin! ]
                            <br />
                            Dear Trailblazers, get ready to immerse yourself in dynamic melodies with Robin!
                        </div>
                    </div>

                    <div class="slide-overlay-item">
                        <a href="/" class="slide-item-btn">Learn more</a>
                    </div>
                </div>
            </div>
            
            <div
                style="background-image: url('images/carousel/ATH-M50x.png');"
                class="swiper-slide slide-item-wrapper"
            >
                <div class="slide-item-container">
                    <div class="slide-overlay-item">
                        <div class="slide-item-brand-text">AUDIO-TECHNICA</div>
                        <div class="slide-item-sku-text">ATH-M50x</div>
                    </div>

                    <div class="slide-overlay-item">
                        <div class="slide-item-description-text">
                            The Audio-Technica ATH-M50x Professional Studio Monitor Headphones feature 45 mm large-aperture drivers with copper-clad aluminum wire voice coils, 
                            plush sound isolation pads, and an over-ear design.
                        </div>
                    </div>

                    <div class="slide-overlay-item">
                        <a href="/" class="slide-item-btn">Learn more</a>
                    </div>
                </div>
            </div>
        </div>

        <div id="slide-prev" class="slide-prev">
            <div class="slide-prev-inner">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                >
                    <path d="m15 18-6-6 6-6"/>
                </svg>
            </div>
        </div>

        <div id="slide-next" class="slide-next">
            <div class="slide-prev-inner">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                >
                    <path d="m9 18 6-6-6-6"/>
                </svg>
            </div>
        </div>

        <div class="slide-pagination"></div>
    </div>
</div>
