.footer-layout-wrapper {
  border-top: 1px solid rgba(18, 18, 18, 0.08);
  margin-top: 36px;
  padding-top: 27px;
  padding-bottom: 27px;
}
@media screen and (min-width: 750px) {
  .footer-layout-wrapper {
    margin-top: 48px;
    padding-top: 36px;
    padding-bottom: 36px;
  }
}

.footer-layout-container {
  display: block;
  max-width: 1740px;
  margin: 0 auto;
  padding-bottom: 50px;
}
@media screen and (min-width: 750px) {
  .footer-layout-container {
    padding: 0 5rem;
  }
}

.footer-layout-overlay {
  display: flex;
  flex-wrap: wrap;
  row-gap: 60px;
  column-gap: 8px;
  margin-bottom: 2rem;
  padding: 0;
  list-style: none;
}

.footer-item-wrapper {
  display: block;
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 100%;
  margin-top: 0;
}
@media screen and (min-width: 750px) {
  .footer-item-wrapper {
    width: 16.6666666667%;
  }
}

.footer-item-header {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: bold;
}

.footer-item {
  display: inline-block;
  align-items: center;
  color: rgba(18, 18, 18, 0.75);
  padding-top: 0;
  padding-bottom: 5px;
  font-size: 15px;
  line-height: 1.8;
}
.footer-item:hover {
  color: rgb(18, 18, 18);
  text-decoration: underline;
  text-underline-offset: 3px;
}

.footer-bottom-wrapper {
  border-top: solid 0.1rem rgba(18, 18, 18, 0.08);
  padding-top: 30px;
}

.footer-bottom-container {
  display: flex;
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
}

.footer-bottom-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-bottom-text-wrapper {
  margin-top: 15px;
  font-size: 12px;
  line-height: 1.7;
  text-align: right;
}

.footer-bottom-text:hover {
  color: rgb(18, 18, 18);
  text-decoration: underline;
  text-underline-offset: 3px;
}
